<!DOCTYPE HTML>
<html lan="en">

  <head>
    {{> head_content }}
    <link type="text/css" rel="stylesheet" href="../dist/css/context-content.css" >

    <title> The Mosquito Man －{{title}} </title>
  </head>

  <body style= "overflow-x:hidden;">
    <!-- navigation Bar -->
    <div class= "back-black"></div>
    {{>header}}

    <!-- 頁面開始 -->
    <div class="title-bar">
      <h1>蚊言文</h1>
    </div>

    <div class = "context">
      <div class = "content">
        <div class = "line"></div>
        <h2>{{title}}</h2>
      </div>

      {{{content}}}
      <p class = "note">
      {{author}}<span class ="time">&nbsp;/&nbsp;{{date}}</span>
      </p>

      <div class = "icon-box">
        {{#if prev}}
          <a href="./{{prev}}"><img src = "../dist/src/img/context/back.svg" title="上一篇文章" alt="上一篇文章"></a>
        {{/if}}
        <a href="../context"><img src = "../dist/src/img/context/list.svg" title="回目錄列表" alt="回目錄列表"></a>
        {{#if next}}
          <a href="./{{next}}"><img src = "../dist/src/img/context/next.svg" title="下一篇文章" alt="下一篇文章"></a>
        {{/if}}
      </div>
    </div>

    <!-- footer -->
    {{> footer}}



  </body>

  <script src ="../dist/src/jquery-2.2.4.min.js"></script>
  <script src ="../dist/js/nav.js"></script>
</html>
