<!DOCTYPE HTML>
<html lan="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <!-- normalize.css -->
  <link type="text/css" rel="stylesheet" href="./src/normalize.css">

  <link type="text/css" rel="stylesheet" href="./css/context.css" >

  <title> 蚊言文 || The Mosquito Man </title>
</head>

<body style= "overflow-x:hidden;">

  {{> header }}
	<!-- 頁面開始 -->
	<div class="title-bar">
		<h1>蚊言文</h1>
	</div>

	<h1 id = "contextTitle">專業專欄報導</h1>

	<div class = "context">

		<!-- 一個content是一個文章 -->
    {{#each posts}}
		<div class = "content">
			<div class = "line"></div>
      <h2><a href="./content/{{url}}">{{title}}</a></h2>

			<div class = "content-inner">
				<!-- <img class = "content-img" src = "../src/img/context/1.jpg"> -->
        <p class = "content-p">{{description}}
				</p>

        <a href = "./content/{{url}}"><p class = "read-more">☛ read more ... </p></a>

        <p class = "content-note"><span class = "editor">{{author}}</span> ▪︎ <span class = "time">{{date}}</span></p>
			</div>

    </div>
    {{/each}}
	</div>
	
	<!--
	等到有種類時在開始做catagory 
	<div class = "catagory">
		<img id = "man" src = "../src/img/4-man.svg">
		<div></div>
	</div>
	-->

	<!-- footer -->
	<footer class = "footer">
		<p> <span>©</span> ALL RIGHT RESERVED TO THE MOSQUITO MAN</p>
		<li id = "facebook"></li>
		<li id = "aboutUs"></li>
	</footer>



</body>

<!-- jquery -->
<script src ="./src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src ="./js/nav.js"></script>
</html>
