<header>
<nav class = "navbar">
<ul>
  <li class="navbar_li mosquito-knowledge" ><a href="{{path}}knowledge" class="navbar_li_a"><h2>蚊風喪膽</h2><p>登革熱基本資訊</p></a></li>
  <li class="navbar_li mosquito-killer" ><a href="{{path}}killer" class="navbar_li_a"><h2>降蚊十八招</h2><p>防疫、病徵解析</p></a></li>
  <li class="navbar_li mosquito-realTime"><a href="{{path}}realTime" class="navbar_li_a"><h2>即時疫情</h2><p>疫情現況</p></a></li>
  <li class="navbar_li mosquito-content" ><a href="{{path}}context" class="navbar_li_a"><h2>蚊言文</h2><p>專欄報導</p></a></li>
  <li class="navbar_li mosquito-interacting"><a href="{{path}}interacting" class="navbar_li_a"><h2>練武功</h2><p>互動專區</p></a></li>
  <li class="navbar_li mosquito-qa" ><a href="{{path}}qa" class="navbar_li_a"><h2>有蚊必答</h2><p>Ｑ＆Ａ</p></a></li>
</ul>
<a href="{{path}}"><img id="sub-logo" src="{{path}}src/img/0-logo.svg"></a>

<div class = "nav-small-icon">
  <div class = "nav-small-rect" id = "bar1"></div>
  <div class = "nav-small-rect" id = "bar2"></div>
  <div class = "nav-small-rect" id = "bar3"></div>
</div>

<div class = "nav-small-bar">
  <li class="navbar_li mosquito-knowledge" ><a class="navbar_li_a"><h2>蚊風喪膽</h2><p>登革熱基本資訊</p></a></li>
  <li class="navbar_li mosquito-killer" ><a class="navbar_li_a"><h2>降蚊十八招</h2><p>防疫、病徵解析</p></a></li>
  <li class="navbar_li mosquito-realTime"><a class="navbar_li_a"><h2>即時疫情</h2><p>疫情現況</p></a></li>
  <li class="navbar_li mosquito-content" ><a class="navbar_li_a"><h2>蚊言文</h2><p>專欄報導</p></a></li>
  <li class="navbar_li mosquito-interacting"><a class="navbar_li_a"><h2>練武功</h2><p>互動專區</p></a></li>
  <li class="navbar_li mosquito-qa" ><a class="navbar_li_a"><h2>有蚊必答</h2><p>Ｑ＆Ａ</p></a></li>
  <div class = "icon-h">
    <li class = "footer_icon" id = "nav_facebook"></li>
    <li class = "footer_icon" id = "nav_aboutUs"></li>
  </div>
</div>
</nav>
</header>
