<!DOCTYPE HTML>
<html lan="en">

<head>
  {{> head }}
  <link type="text/css" rel="stylesheet" href="./dist/css/qa.css" >

  <title> 有蚊必答 || The Mosquito Man </title>
</head>

<body style= "overflow-x:hidden;">

  {{> header }}
	<!-- 頁面開始 -->
	<div class="title-bar">
		<h1>有蚊必答</h1>
	</div>

	<h1 id = "contextTitle">熱門問題回答集&nbsp;<span class ="open-all">open all</span></h1>

    {{#each questions}}
    <div class = "context" id = "q{{@index}}">
      <div class = "question">
        <h2><span class="questionE">Q{{@index}}</span>:{{question}}</h2>

        <a><p class = "open-answer" >☛ 公佈解答... </p></a>
      </div>

      <div class = "answer-box" id = "a{{@index}}">
        <p class = "answer">
        {{{answer}}}
        </p>
      </div>
    </div>
    {{/each}}


  {{> footer}}


</body>

<!-- jquery -->
<script src ="./dist/src/jquery-2.2.4.min.js"></script>
<!-- nav.js -->
<script src ="./dist/js/nav.js"></script>
<!-- nav.js -->
<script src ="./dist/js/qa.js"></script>
</html>
